.social-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 6rem;
}

.social-links-caption {
  font-family: "Montserrat";
  font-weight: 400;
  opacity: 0.66;
  transition: opacity ease 300ms;
  cursor: default;

  &:hover {
    opacity: 1;
  }
}

.social-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  // border: 1px solid var(--text);
  width: 2rem;
  height: 2rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.33rem;
  opacity: 0.66;
  transition: opacity ease 300ms;

  &:hover {
    opacity: 1;
  }
}

.social-link-icon {
  width: 1.5rem;
  height: 1.5rem;
}
