.content-article {
  position: relative;
  max-width: 360px;

  &-header {
    width: 100%;
    height: 10rem;
  }

  &-body {
    position: relative;
    width: 100%;
  }

  &-body-label {
    text-align: left;
  }

  &-body-paragraph {
    text-align: left;
    max-height: 120px;
    overflow-y: auto;
  }
}
