.ContentDrawer {
  position: relative;
  width: 100%;
  max-width: 720px;
  // height: 100%;
  height: fit-content;
  max-height: 2.1rem;
  transition: all ease 455ms;
  overflow: hidden;
  padding: .33rem;
  margin: .33rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  
  &.open {
    max-height: 650px;

    .content-drawer-cursor{
      transform: rotate(90deg);
    }

    .content-drawer-label{
      opacity: 1;
      border: solid 1px var(--text);
    }

 
    
    .content-drawer{
      opacity: 1;
      // border: solid 1px var(--text-almost-trans);
    }
    
    &.showcase-drawer{
      .content-drawer{
        border: solid 1px var(--text-almost-trans);
      }
    }

  }
}

.content-drawer-label{
  position: relative;
  height: 2rem;
  opacity: .7;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: .33rem .5rem;
  padding-left: .5rem;
  border-radius: 3px;
  margin: auto;
  // font-family: "Fira Sans";
  // min-width: 150px;
  width: fit-content;
  cursor: pointer;
  transition: border ease 300ms;
  border: solid 1px rgba(255, 255, 255, .0);


  // &::after{
  //   display: block;
  //   content: '';
  //   position: absolute;
  //   bottom: -1px;
  //   width: calc(100% + 1rem);
  //   height: .5px;
  //   left: -0.83rem;
  //   right: 0;
  //   margin: auto;
  //   background: var(--text);
  //   opacity: 0;
  //   transition: opacity ease 300ms;
  //   border-radius: .5px;
  // }
  
  &:hover{
    opacity: .9;
    border: solid 1px var(--text);

    // &::after{
    //   opacity: 1;
    // }
  }
}

.content-drawer-icon{
  position: relative;
  height: 2rem;
  width: 2.2rem;
  // margin: .33rem;
  margin-right: .33rem;
  // margin-left: -.83rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform ease 300ms;
  svg{
    display: inline-block;
    margin: auto;
    height: 2rem;
    width: 2rem;
    // width: 100%;
  }
}

.content-drawer-cursor{
  display: inline-block;
  transition: transform ease 300ms;
}

.content-drawer {
  padding: .66rem;
  transition: all ease 300ms;
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: .5rem;
  justify-content: space-evenly;
}


