.ContactForm{
  position: relative;
  width: 100%;
  h1{
    margin-bottom: 1rem;
  }
}

.contact-area{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &.submitting{
    user-select: none;
    pointer-events: none;
    opacity: .5;
  }

  &.submitted{
    .contact-form{
      display: none;
      transform: scale(0);
      opacity: 0;
      position: absolute;
    }

    .contact-submitted{
      position: relative;
      display: flex;
      opacity: .5;
      transform: scale(1);
      &:hover{
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}

.contact-form{
  // position: absolute;
  width: 100%;
  max-width: 520px;
  height: fit-content;
  display: flex;
  flex-flow: column;
  transition: all ease 300ms;

  input, textarea, select{
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border-radius: 1px;
    border: none;
    background: var(--mid-almost-trans);
    padding: .66rem;
    font-family: inherit;
    max-width: 100%;
    color: var(--mid);
    opacity: .9;
    &:hover{
      opacity: 1;
    }
  }

  select, input[type='submit']{
    &:hover{
      cursor: pointer;
    }
  }
  option{
    opacity: .9;
    cursor: pointer;
    background: var(--background-slightly-trans);
    color: var(--mid);
    &:hover{
      color: var(--mid);
      background: var(--background-slightly-trans);
      cursor: pointer;
      opacity: 1;
    }
  }
}


.contact-submit{
  border: solid 1px var(--mid) !important;
}

.contact-submitted{
  transition: all ease 300ms;
  position: absolute;
  transform: scale(0);
  opacity: 0;
}