.ProjectBadge {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 14rem;
  height: 7rem;
  margin: 0.33rem;
  border: 1px solid #fff;
  color: var(--text);
  border-radius: 4px;
  opacity: 0.7;
  transition: all ease 300ms;
  cursor: pointer;
  &:hover {
    box-shadow: 3px 3px 36px rgba(255, 255, 255, 0.2);
    opacity: 1;
  }

  // Important
  svg {
    user-select: none !important;
    pointer-events: none !important;
  }

  &-gamedevDictionary {
    div {
      margin-left: -0.5rem;
    }
    &:hover {
      .GamedevDictionaryLogo {
        transform: translateY(-4px);
        @media (max-width: 550px) {
          transform: translateY(-5px);
        }
        &::after {
          opacity: 1;
          transform: translateY(0.25rem);
          @media (max-width: 550px) {
            transform: translateY(0.18rem);
          }
        }
      }
    }
  }
  &-simplyTask:hover {
    .SimplyTaskLogo {
      margin-left: -57px;
      &::after {
        opacity: 1;
        width: 115px;
      }
    }
  }
}

.ProjectContainer {
  transition: all ease 300ms;
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;

  &-content {
    transition: all ease 300ms;
    height: 400px;
    max-height: 0px;
    overflow: hidden;
  }

  &-label {
    text-align: center;
  }

  &-gamedevDictionary {
    .ProjectContainer-label {
      font-family: "Source Sans Pro";
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  &-simplyTask {
    .ProjectContainer-label {
      font-family: "Baloo";
      margin-top: -.3rem;
    }
  }
}
