.services {
  &-container {
    position: relative;
  }

  &-list {
    text-align: center;
    padding-bottom: 1rem;
  }

  &-item {
    color: var(--text-slightly-trans);
    margin: 1rem;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity ease 300ms;
    user-select: none;
    &:hover {
      opacity: 1;
    }
  }
  &-disclaimer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.7rem;
    color: var(--text-slightly-trans);
    opacity: 0.5;
    cursor: pointer;
    transition: opacity ease 300ms;
    user-select: none;
    &:hover {
      opacity: 1;
    }
  }
}
