@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.GamedevDictionaryLogo {
  position: relative;
  font-family: 'Source Sans Pro';
  color: var(--text);
  // display: block;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 110px;

  &.disabled {
    pointer-events: none;
    user-select: none;
  }

  svg {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 0.1rem;
    fill: var(--text);
    path {
      fill: var(--text);
    }
  }

  &::before {
    content: "BETA";
    font-family: 'Source Sans Pro';
    display: inline-block;
    color: var(--text);
    position: absolute;
    top: -5px;
    right: -20px;
    width: 20px;
    height: 0.5rem;
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 500;
    @media (max-width: 420px) {
      top: -1px;
      right: -12px;
    }
  }

  &::after {
    content: "Gamedev Dictionary";
    font-family: 'Source Sans Pro';
    display: inline-block;
    color: var(--text);
    position: absolute;
    bottom: -0.88rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    opacity: 0;
    white-space: nowrap;
    transition: all ease 300ms;
  }

  &:hover,
  &.show {
    transform: translateY(-4px);
    @media (max-width: 550px) {
      transform: translateY(-5px);
    }
    &::after {
      opacity: 1;
      transform: translateY(0.25rem);
      @media (max-width: 550px) {
        transform: translateY(0.18rem);
      }
    }
  }

  @media (max-width: 960px) {
    margin: 0 0.2rem;
  }

  @media (max-width: 420px) {
    svg {
      height: 1.8rem;
      width: 1.8rem;
    }
  }
}