.SimplyTaskLogo {
  position: relative;
  padding: 0 0.33rem;
  color: var(--text);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: inherit;
  transition: all ease 300ms;
  @import url("https://fonts.googleapis.com/css?family=Baloo&display=swap");

  svg {
    width: 2.7rem;
    height: 2.7rem;
  }

  &::after {
    font-family: "Baloo";
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 100%;
    font-size: 1.3rem;
    content: "Simply Task";
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    transition: all ease 300ms;
    opacity: 0;
    margin-top: 0.1rem;
    width: 0px;
  }

  &:hover,
  &.show {
    &::after {
      opacity: 1;
      width: 115px;
    }
  }

  @media (max-width: 720px) {
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
    &::after {
      font-size: 0.9rem;
    }
  }
}
