.brandLogo{
  position: absolute;
  animation-name: intro-logo;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

main{
  animation-name: intro-main;
  animation-timing-function: ease;
  animation-duration: 3700ms;
  animation-fill-mode: forwards;
}


.landing{
  padding-top: 8rem;
  min-height: calc(100vh - 6rem);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}



.service-labels{
  position: relative;
  width: 70%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media(max-width: 768px){
    width: 90%;
  }

  .service-labels-layer-1,
  .service-labels-layer-2{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.5rem;
  }

  .service-label{
    // overflow: hidden;
    white-space: nowrap;
  }

  .service-labels-layer-1{
    justify-content: center;
  }
  .service-labels-layer-2{
    justify-content: space-between;
    @media(max-width: 768px){
      justify-content: center;
      flex-direction: column;
      padding-top: .5rem;
      .service-label{
        &:first-child{
          padding-top: 0;
        }
        padding: 1rem 0;
      }
    }  
  }
}

hr{
  width: 88%;
  margin: auto;
  background: rgba(204, 204, 204, .5);
}

