@import "reset.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
  --background: #000000;
  --background-almost-trans: rgba(0, 0, 0,.15);
  --background-mild-trans: rgba(0, 0, 0,.33);
  --background-slightly-trans: rgba(0, 0, 0,.90);
  --text: #ffffff;
  --text-almost-trans: rgba(255, 255, 255,.15);
  --text-mild-trans: rgba(255, 255, 255,.33);
  --text-slightly-trans: rgba(255, 255, 255,.90);
  --mid: rgb(127,127,127);
  --mid-almost-trans: rgba(127,127,127,.15);
  --mid-mild-trans: rgba(127,127,127,.33);
  --mid-slightly-trans: rgba(127,127,127,.90);
}

body {
  background: var(--background);
  color: var(--text);
  // font-family: 'Fira Sans','Inter', sans-serif;
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat';
}



svg,
svg path {
  fill: var(--text);
}


@keyframes intro-logo{
  0%{
    opacity: 0;
    top: calc(50% - 72px);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  60%{
    opacity: 1;
    top: calc(45% - 72px);
  }
  70%{
    opacity: 1;
    top: calc(45% - 72px);
  }

  100%{
    opacity: 1;
    top: 1.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@keyframes intro-main{
  0%{
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
  70%{
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
  100%{
    opacity: 1;
    user-select: auto;
    pointer-events: all;
  }
}